.title{
    background-color: aquamarine;
    color: black;
    border: 2px solid black;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}
.first{
    background-color: blueviolet;
}
